# This workflow will install Python dependencies, run tests and lint with a single version of Python
name: Quality Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-python-deps
    - name: Lint
      run: |
        ruff check aero_pi_cam tests

  typecheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-python-deps
    - name: Type check
      run: |
        mypy aero_pi_cam

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-python-deps
    - name: Unit test
      run: |
        pytest tests/
